[ ca ]
default_ca = CA_default

[ CA_default ]
serial        = {{ ar_tls_ca_path_link }}/serial
database      = {{ ar_tls_ca_path_link }}/index.txt
new_certs_dir = {{ ar_tls_ca_path_link }}/newcerts
certificate   = {{ ar_tls_ca_path_link }}/{{ ar_tls_ca_name }}.crt
private_key   = {{ ar_tls_ca_path_link }}/{{ ar_tls_ca_name }}.key
default_md    = sha1
default_days  = {{ ar_tls_ca_default_days }}
policy        = default_policy

[ default_policy ]
# Set to:
#   match: The field value must match the same field in the CA Cert
#   supplied: The field must be provided by the caller
#   optional: The field may be provided by the caller
# Any fields not mentioned are ignored
countryName = optional
stateOrProvinceName = optional
localityName = optional
organizationName = optional
organizationalUnitName = optional
commonName = supplied
